/* ^ CSS dark mode ^ */

:root {
    --bg_color_tm_dark: #1c1b1b;
    --bg_color_2_tm_dark: #151313;
    --bg_page_tm_dark: #200202e9;
    --borda_color_tm_dark: #800404;
    --letra_dest_color_segundaria_tm_dark: #de5d5d;
    --letra_color_primaria_tm_dark: #dad7d7;
    --sombra_tm_dark: #00000080;
}



.dark_mode.body {
    background: var(--bg_page_tm_dark);
    background: linear-gradient(335deg, var(--bg_page_tm_dark) 25%, var(--bg_color_2_tm_dark) 72%, var(--bg_color_2_tm_dark) 100%);
    transition: 0.6s;
}

/*
 .dark_mode.body{
    background-color: var(--bg_color_tm_dark);
    
} */


.dark_mode {
    transition: 0.6s;
    color: var(--letra_color_primaria_tm_dark);
}


.dark_mode.menu .active {
    border-bottom: 2px solid var(--borda_color_tm_dark);
}

.dark_mode .menu ul {
    border-bottom: var(--borda_color_tm_dark) solid 2px;
}

.dark_mode ul li a {
    color: var(--letra_color_primaria_tm_dark);
}

.dark_mode .active {
    border-bottom: var(--borda_color_tm_dark);
}

.dark_mode .section_banner_inicial {
    color: var(--letra_color_primaria_tm_dark);

}

.dark_mode .section_banner_inicial .imagem_banner_inicial img {
    border: 3px solid var(--borda_color_tm_dark);
    filter: grayscale(30%);

}

.dark_mode .section_caixa .caixa_introducao {
    background: var(--bg_color_tm_dark);
    color: var(--letra_color_primaria_tm_dark);
    border: 3px solid var(--borda_color_tm_dark);
    box-shadow: 13px 5px 9px var(--sombra_tm_dark);

}

.dark_mode .section_caixa .caixa_introducao h2 {
    color: var(--letra_dest_color_segundaria_tm_dark);
}


.dark_mode .section_caixa .caixa_introducao span {
    color: var(--letra_dest_color_segundaria_tm_dark);
}

.dark_mode .section_caixa .caixa_introducao .texto_caixa_introducao {
    color: var(--letra_color_primaria_tm_dark);
}

.dark_mode .section_caixa .caixa_introducao .imagem_caixa {
    filter: grayscale(20%);
}

.dark_mode .servico .caixa_titulo h1 {
    color: var(--letra_color_primaria_tm_dark);
}

.dark_mode .caixas_servicos_total .caixa_servico {
    background-color: var(--bg_color_tm_dark);
    color: var(--letra_color_primaria_tm_dark);
    box-shadow: 13px 5px 9px var(--sombra_tm_dark);
}

.dark_mode .servico .caixa_servico i {
    color: var(--letra_color_primaria_tm_dark);
}

.dark_mode .footer {
    background: var(--bg_color_tm_dark);
}



/* .dark_mode .facebook {
    color: #0a0a71;
}

.dark_mode .instagram {
    color: #ce8302;
}

.dark_mode .github {
    color: #560056;
}

.dark_mode .linkedin {
    color: #004c6f;

} */

.dark_mode .facebook:hover {
    color: #2121a9;

}

.dark_mode .instagram:hover {
    color: #ea9504;

}

.dark_mode .github:hover {
    color: #a521a5;

}

.dark_mode .linkedin:hover {
    color: #156785;

}